<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.each do |user| %>
	<div class="user-index-item">
		id:
		<%= user.id %>
		<br/>
		usertype:
		<%= user.usertype %>
		</br>
		name:
		<%= user.username %>
		<%= link_to("more", "/users/#{user.id}")%>
	</div>
<% end %>