<h1>Posts#new</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<% @post.errors.full_messages.each do |message| %>
	<%= message %>
<% end %>

<%= form_tag("/posts/#{@post.id}/update") do %>
	<p>タイトル</p>
	<textarea name="content"><%= @post.content %></textarea>
	<br/>
	<p>内容</p>
	<textarea name="content"><%= @post.content %></textarea>
	<br/>
	<input type="submit" value="更新">
<% end %>