<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<% @post.errors.full_messages.each do |message| %>
	<%= message %>
<% end %>

<%= form_tag("/posts/create") do %>
	<p>タイトル</p>
	<textarea name="title"><%= @post.title %></textarea>
	<br/>
	<p>内容</p>
	<textarea name="content"><%= @post.content %></textarea>
	<br/>
	<input type="submit" value="投稿">
<% end %>